<!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->

<div class="navbar-wrapper">
      <nav class="navbar">
        <div class="menu-icon">
            <button>☰</button>
        </div>
        <div class="nav-title">
            <a href="{{ .Site.BaseURL }}"><span>Main</span></a>
        </div>
        <div class="nav-links">
            <a href="https://github.com/Apsanedu">GitHub</a>
            <a href="https://www.linkedin.com/in/apsan-bishwokarma-b90b55196/">LinkedIn</a>
            <a href="https://www.youtube.com/@apsancentury6013">YouTube</a>
        </div>
      </nav>
</div>
